[user]
  name = Kartik Mohta
  email = kartikmohta@gmail.com
[color]
  ui = auto
[color "diff"]
  meta = yellow bold
[color "status"]
  untracked = yellow
[svn]
  rmdir = true
[log]
  date = local
[alias]
  st = status
  co = checkout
  di = diff
  ci = commit
[core]
  excludesfile = /home/kartikmohta/.gitignore
[sendemail]
  envelopesender = auto
[fetch]
  prune = true
[push]
  default = simple
