[user]
  name = Kartik Mohta
  email = kartikmohta@gmail.com
  signingkey = 0x42AE2262EC5462E4
[color]
  ui = auto
[color "status"]
  untracked = yellow
[svn]
  rmdir = true
[log]
  date = local
[alias]
  st = status
  co = checkout
  di = diff
  ci = commit
[core]
  excludesfile = /home/kartikmohta/.gitignore
[sendemail]
  envelopesender = auto
[fetch]
  prune = true
[push]
  default = simple
[diff]
  algorithm = histogram
  compactionHeuristic = true
  renames = copies
[submodule]
  recurse = true
